.can{
  position: fixed;
  top: -19px;
  height: 115%;
  left: -44px;
}
.wipeAss{
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
}
.program{
  position: relative;
  height: 80%;
  margin-top: 7%;
  min-width: 2500vw; // 300*8 + 100
  background: #fffdf0;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    background: #6CC7C2;
  }
}
.day{
  position: relative;
  border-right: 3px dashed #6cc8c2;
  display: inline-block;
  float: left;
  width: 300vw; /*2400 / 8 = 300*/
  height: 100%;
}
.hourWrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.hour{
  position: relative;
  display: inline-block;
  float: left;
  width: 4.16666666%;
  height: 100%;
}
.hour:after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background: #e2f1d4;
}
.hour::before {
    content: attr(data-time);
    position: absolute;
    bottom: 102%;
    left: -5vw;
    width: 10vw;
    text-align: center;
}
.dayNameWrapper{
  position: absolute;
  min-width: 2500vw;
  .dayName{
    display: inline-block;
    margin: 0 300vw 0 0;
    padding-right: 10px;
  }
}

.band {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 16.666667%;
  z-index: 10;
  h4 {
    margin: 0;
    font-size: 2.4vw;
  }
  h6 {
    margin: 0;
  }
}
//perspective( 60vw ) rotateY( -45deg ) rotateZ(-20deg) translateY(212%)
.pee {
  background: #FCF562;
}
.poo {
  background: #a26a2a;
}

.nowArrowWrapper{
  position: fixed;
  top: 93vh;
  margin-left: 12.5%; //(100/8)
  h4#nowArrowText{
    color: #000;
    display: inline-block;
    margin: 0;
    text-decoration: underline;
    &.hidden{
      display: none;
    }
  }
}
.nowArrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: 0.5s;
  &.left{
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
  }
}
